{% load udoco_forms %}
<div class="mdl-tabs__panel{% if event.rosters.count == 0 %} is-active{% endif %}{% if forloop.counter == 1 %} is-active{% endif %}"
     id="{% if form.roster.value == None %}new-roster{% else %}game-{{forloop.counter}}{% endif %}">
  <form action="" method="POST">
    {% for field in form %}
    {% if '_' not in field.name %}
    <div>
    <div class="mdl-cell mdl-cell--12-col redo-container">
      {{ field | mdl | safe }}
      {% if event.losers and field|loserify %}
      <a href="#" class="redo"><i class="material-icons">redo</i></a>
      {% endif %}
    </div>
    {% if field|loserify and event.losers %}
    <div class="mdl-cell mdl-cell--12-col undo-container" style="display:none;">
      {{ field | loserify | mdl | safe }}
      <a href="#" class="undo"><i class="material-icons">undo</i></a>
    </div>
    {% endif %}
    </div>
    {% endif %}
    {% endfor %}
    {% csrf_token %}

    <input class="mdl-button mdl-button--raised" type="submit" name="action" value="Save roster" />
    {% if not event.complete %}
    {% if form.roster.value %}
    <input class="mdl-button mdl-button--raised" type="submit" name="action" value="Remove roster" />
    {% endif %}
    <input class="mdl-button mdl-button--raised mdl-button--accent" type="submit" name="action" value="Commit" />
    {% endif %}
  </form>
</div>
