{% extends "base.html" %}
{% load staticfiles %}
{% load udoco_forms %}
{% block "extra_head" %}
<link rel="stylesheet" href="{% static 'mdl-selectfield/dist/mdl-selectfield.min.css' %}">
<script src="{% static 'mdl-selectfield/dist/mdl-selectfield.min.js' %}"></script>
{% endblock %}

{% block "content" %}
{% if form.errors %}
{% endif %}
<form action="" method="POST">
    {% for field in form %}
        <div class="mdl-cell mdl-cell--12-col">
        {{ field | mdl | safe }}
        </div>
    {% endfor %}
    {% csrf_token %}
    <input class="mdl-button mdl-button--raised" type="submit" value="Save" />
</form>
{% endblock %}
