{% load udoco_forms %}
<!DOCTYPE html>
<html>
  <head>
    <title>United Derby Officials Colorado</title>
    <meta charset="utf-8" />
  </head>
  <body>

    <div class="mdl-grid demo-content">
      <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">

        <div>
            <ul class="mdl-list">
            {% for official in officials %}
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        {{ official }} ({{official.email}})
                    </span>
                </li>
            {% endfor %}
            </ul>
        </div>

        <form action="" method="POST">
            {{ form.errors }}
            {% for field in form %}
            <div class="mdl-cell mdl-cell--12-col">
                {{ field | mdl | safe }}
            </div>
            {% endfor %}
          <input class="mdl-button mdl-button--raised" type="submit" value="Contact" />
            {% csrf_token %}
        </form>
        </div>
      </div>
    </div>

  </body>
  <!-- Version: {{ VERSION }} //-->
</html>
