{% extends "base.html" %}
{% load staticfiles %}
{% load udoco_forms %}
{% block title %}{{ event.title }}{% endblock %}
{% block "extra_head" %}
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ event.title }}" />
<meta property="og:description" content="Presented by {{ event.league.name }} - {{ event.location }} @ {{ event.start }}" />
<meta property="fb:app_id" content="1716626438550212" />
{% comment %}
<meta property="og:image" content="{% url 'view_event' event.id %}" />
{% endcomment %}

<link rel="stylesheet" href="{% static 'mdl-selectfield/dist/mdl-selectfield.min.css' %}">
<script src="{% static 'mdl-selectfield/dist/mdl-selectfield.min.js' %}"></script>

<style type="text/css">
a#login {
    text-decoration: none;
}

button#fb-login {
    padding-right: 45px;
    height: 35px;
    background: none;
    border: none;
    display: block;
    background-size: 35px 35px;
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 4px;
    color: white;
    font-family:"Merriweather Sans", sans-serif;
    font-size: 14px;
    width: 205px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;

    border-color: #2d5073;
    background-color: #3b5998;
    background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}


#disclaimer {
    font-size: 80%;
}
</style>


{% endblock %}

{% block "content" %}
<div class="mdl-cell mdl-cell--8-col">
    <ul class="mdl-list">
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>{{ event.title }}</span>
            </span>
        </li>
        <li class="mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content">
                <span class="mdl-list__item-sub-title">Hosted by</span>
                <span>{{ event.league.name }}</span>
            </span>
        </li>
        <li class="mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content">
                <span class="mdl-list__item-sub-title">Location</span>
                <span>{{ event.location }}</span>
            </span>
        </li>
        <li class="mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content">
                <span class="mdl-list__item-sub-title">Time</span>
                <span>{{ event.start }}</span>
            </span>
        </li>
        <li class="mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content">
                {% if event.association == 0 %}
                <span class="mdl-list__item-sub-title">WFTDA</span>
                {% elif event.association == 1 %}
                <span class="mdl-list__item-sub-title">MRDA</span>
                {% elif event.association == 2 %}
                <span class="mdl-list__item-sub-title">JRDA</span>
                {% else %}
                <span class="mdl-list__item-sub-title">Other association</span>
                {% endif %}
                {% if event.game_type == 0 %}
                <span>SANCTIONED</span>
                {% elif event.game_type == 1 %}
                <span>REGULATION</span>
                {% else %}
                <span>UNSANCTIONED/OTHER</span>
                {% endif %}
            </span>
        </li>
    </ul>
</div>

{% if can_schedule %}
<div class="mdl-cell mdl-cell--8-col">
{% if event.roster %}
    <a href="{% url 'schedule_event' event.id %}">Edit roster</a>
{% else %}
    You are designated as staff for this league. You have {{ event.applicants.count }}
    applications so far.
    <div>
        <a href="{% url 'schedule_event' event.id %}">Schedule officials to officiate this event.</a>
    </div>
{% endif %}
    <form method="POST" action="{% url 'delete_event' event.id %}">
        {% csrf_token %}
        <input class="mdl-button mdl-button--raised" type="submit" value="Cancel event" />
    </form>
    <a href="{% url 'edit_event' event.id %}">
        <button class="mdl-button mdl-button--raised">Edit event</button>
    </a>
</div>
{% endif %}

{% if not user.is_authenticated %}
<div class="mdl-cell mdl-cell--8-col">
    <a id="login" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
    <button id="fb-login">Log in to apply</button>
    </a>
</div>
<div class="mdl-cell mdl-cell--8-col" id="disclaimer">
    Facebook is used only for account management. We won't post anything.
    You just don't need yet another username and password to remember, right?
</div>
{% endif %}

{% if user.is_authenticated %}
{% if not event.roster %}
<div class="mdl-cell mdl-cell--8-col">
    {% if form %}
    <form action="" method="POST">
        {{ form.errors }}
        {% for field in form %}
        <div>
            {{ field | mdl | safe }}
        </div>
        {% endfor %}
        {% csrf_token %}
        <input class="mdl-button mdl-button--raised" type="submit" value="Complete application" />
    </form>
    {% else %}
    {% if event.complete %}
    Enrollment for this event is complete.
    {% else %}
    You have already applied to this event.
    <form method="POST" action="{% url 'event_withdrawal' event.id %}">
        {% csrf_token %}
        <input class="mdl-button mdl-button--raised" type="submit" value="Withdraw application" />
    </form>
    {% endif %}
    {% endif %}
</div>
{% else %}
<div class="mdl-cell mdl-cell--8-col">
    Scheduling for this event is complete.
</div>
{% endif %}
{% endif %}

{% endblock %}
