{% extends "_base.html" %}
{% load staticfiles %}

{% block "extra_head" %}
<link rel="stylesheet" href="{% static 'mdl-selectfield/dist/mdl-selectfield.min.css' %}">
{% endblock %}

{% block "extra_foot" %}
<script src="{% static 'mdl-selectfield/dist/mdl-selectfield.min.js' %}"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>

<script type="text/template" id="app-template">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">United Derby Officials</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
      {% if user.is_authenticated %}
        {% if user.can_schedule %}
        <a class="mdl-navigation__link" href="{% url 'leagues' %}">Manage league</a>
        {% endif %}
        <a class="mdl-navigation__link" href="{% url 'profile' %}">Settings</a>
        <a class="mdl-navigation__link" href="{% url 'auth:logout' %}?next=/">Log out</a>
      {% else %}
        <a class="mdl-navigation__link" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Log in</a>
      {% endif %}
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">United Derby Officials</span>
    <nav class="mdl-navigation">
      {% if user.is_authenticated %}
        {% if user.can_schedule %}
        <a class="mdl-navigation__link" href="{% url 'events' %}">Manage league</a>
        {% endif %}
        <a class="mdl-navigation__link" href="{% url 'profile' %}">Settings</a>
        <a class="mdl-navigation__link" href="{% url 'auth:logout' %}?next=/">Log out</a>
      {% else %}
        <a class="mdl-navigation__link" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Log in</a>
      {% endif %}
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div id="calendar"></div>
  </main>
</div>
</script>

<script type="text/template" id="preference-select">
<div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
    <select id="staffing" name="staffing[]" class="mdl-selectfield__select">
        <option value=""></option>
        <option value="0">Head ref</option>
        <option value="1">Inside Pack Ref</option>
        <option value="2">Jam Ref</option>
        <option value="3">Outside Pack Ref</option>

        <option value="5">Head NSO</option>
        <option value="6">Penalty Tracker</option>
        <option value="7">Penalty Wrangler</option>
        <option value="8">Inside Whiteboard</option>
        <option value="9">Jam Timer</option>
        <option value="10">Scorekeeper</option>
        <option value="11">Scoreboard Operator</option>
        <option value="12">Penalty Box Manager</option>
        <option value="13">Penalty Box Timer</option>
        <option value="14">Lineup Tracker</option>
    </select>
    <label for="staffing" class="mdl-selectfield__label">Staffing preference</label>
    <span class="mdl-selectfield__error">This is an error</span>
</div>
</script>

<script type="text/template" id="event-no-apply">
You can't apply, you numpty.
</script>

<script type="text/template" id="event-apply">
<h6 class="mdl-dialog__title"><%= event.title %></h6>
<div class="mdl-dialog__content">
    <ul class="mdl-list">
        <li class="mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content">
                <span class="mdl-list__item-sub-title">Hosted by</span>
                <span><%= event.league %></span>
            </span>
        </li>
        <li class="mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content">
                <%= event.location %> @ <%= moment(event.start).format('LT') %>
            </span>
        </li>
    </ul>
    {% if request.user.is_authenticated %}
    <p>
        Please select the staffing preferences you may have.
    </p>
    <form id="preference-form" action="/_/events/<%= event.id %>">
    </form>
    {% else %}
    <p>
        <a id="login" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
            <button id="fb-login">Log in to apply</button>
        </a>
    </p>
    <div id="fb-disclaimer">
        Facebook is used only for account management. We won't post anything.
        You just don't need yet another username and password to remember, right?
    </div>
    {% endif %}
</div>
<div class="mdl-dialog__actions mdl-dialog__actions--full-width">
    {% if request.user.is_authenticated %}
    <button type="button" class="mdl-button" id="event-apply">Apply</button>
    {% endif %}
    <button type="button" class="mdl-button close" id="event-cancel">Cancel</button>
</div>
</script>

<script>
var EventApply = Backbone.View.extend({
    el: "#dialog-target",
    events: {
        'change .mdl-selectfield__select': 'onPreferenceChange',
        'click #event-apply': 'onApply',
        'click #event-cancel': 'onCancel'
    },
    template: _.template($('#event-apply').html()),
    initialize: function(options) {
        this.event = options.event;
        $.get('/_/events/'+options.event.id, null, _.bind(function(data) {
            if (!data.can_apply && !data.is_anonymous) {
                this.template = _.template($('#event-no-apply').html());
            }
            this.render();
        }, this));
    },
    render: function() {
        this.$el.html(this.template(this));
        this._addPreferenceChoice();
        this.$el[0].showModal();
    },

    event: null,
    _addPreferenceChoice: function() {
        var select = $('#preference-select').html();
        this.$el.find('form').append(select);

        var ele = this.$el.find('.mdl-js-selectfield').last()[0];
        if (ele) {
            componentHandler.upgradeElement(ele);
        }
    },
    _close: function() {
        var el = this.$el[0];
        if (el.open) {
            el.close();
        }
        this.$el.html('');
    },
    onPreferenceChange: function(event) {
        var target = event.target,
            parent = this.$el.find(target.parentNode);
        if (event.target.value === "") {
            if (this.$el.find('select').length > 1) {
                parent.remove()
            }
        } else {
            if (parent.hasClass('is-invalid')) {
                parent.removeClass('is-invalid');
            }

            /* TODO: Make sure that, should the value change, we aren't
             * adding due to a change in an already populated field.
             */
            if (target == this.$el.find('.mdl-selectfield__select').last()[0]) {
                    //&& this.$el.find('.mdl-selectfield').length == 1) {
                this._addPreferenceChoice();
            }

            /* TODO: make sure that the values are all unique */
        }
    },
    onApply: function() {
        var form = this.$el.find('#preference-form'),
            selects = form.serializeArray(),
            items = selects.map(function(ele) {
                    return ele.value;
                }).filter(function(ele) {
                    return (Number(ele) > 0);
                });

        /* Make sure at least one choice was picked. */
        if (items.length < 1) {
            var error = this.$el.find('.mdl-selectfield__error');
            error.text('Please select a staffing preference.')
            error.parent().addClass('is-invalid');
        }

        $.post(form[0].action, {'preferences': items}, _.bind(function() {
            /* TODO: Add toast message */
            this._close();
        }, this));
    },
    onCancel: function() {
        this._close();
    }
});


var App = Backbone.View.extend({
    el: "#js",
    template: _.template($('#app-template').html()),
    initialize: function() {
        $.getJSON('/_/events', null, _.bind(function(res) {
            this.events = res.data;
            this.render();
        }, this));
    },
    render: function() {
        this.$el.html(this.template(this));
        this.$el.find('#calendar').fullCalendar({
          {% if user.can_schedule %}
            customButtons: {
                addEventButton: {
                    text: 'Add event',
                    click: _.bind(this.onAddEventClick, this)
                }
            },
          {% endif %}
            editable: false,
            events: this.events,
            displayEventTime: true,
            handleWindowResize: true,
            weekends: true,
            defaultView: 'month',
            columnFormat: 'ddd',
            eventClick: _.bind(this.onEventClick, this),
            header: {
                left: 'prev,next',
                center: 'title',
          {% if user.can_schedule %}
                right: 'addEventButton'
          {% else %}
                right: ''
          {% endif %}
            }
        });
    },

    events: null,
    onAddEventClick: function(event) {
        window.location = '/events/new';
    },
    onEventClick: function(event) {
        new EventApply({event: event});
    }
});
new App();
</script>
{% endblock %}
