{% extends "_base.html" %}

{% block "extra_foot" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>

<script type="text/template" id="app-template">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">United Derby Officials</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
      {% if user.is_authenticated %}
        {% if user.can_schedule %}
        <a class="mdl-navigation__link" href="{% url 'events' %}">Manage league</a>
        {% endif %}
        <a class="mdl-navigation__link" href="{% url 'profile' %}">Settings</a>
        <a class="mdl-navigation__link" href="{% url 'auth:logout' %}?next=/">Log out</a>
      {% else %}
        <a class="mdl-navigation__link" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Log in</a>
      {% endif %}
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">United Derby Officials</span>
    <nav class="mdl-navigation">
      {% if user.is_authenticated %}
        {% if user.can_schedule %}
        <a class="mdl-navigation__link" href="{% url 'events' %}">Manage league</a>
        {% endif %}
        <a class="mdl-navigation__link" href="{% url 'profile' %}">Settings</a>
        <a class="mdl-navigation__link" href="{% url 'auth:logout' %}?next=/">Log out</a>
      {% else %}
        <a class="mdl-navigation__link" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Log in</a>
      {% endif %}
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div id="calendar"></div>
  </main>
</div>
</script>

<script>
var App = Backbone.View.extend({
    el: "#js",
    template: _.template($('#app-template').html()),
    initialize: function() {
        $.getJSON('/_/events', null, _.bind(function(res) {
            this.events = res.data;
            this.render();
        }, this));
    },
    render: function() {
        this.$el.html(this.template(this));
        this.$el.find('#calendar').fullCalendar({
          {% if user.can_schedule %}
            customButtons: {
                addEventButton: {
                    text: 'Add event',
                    click: _.bind(this.onAddEventClick, this)
                }
            },
          {% endif %}
            editable: false,
            events: this.events,
            displayEventTime: true,
            handleWindowResize: true,
            weekends: true,
            defaultView: 'month',
            columnFormat: 'ddd',
            eventClick: _.bind(this.onEventClick, this),
            header: {
                left: 'prev,next',
                center: 'title',
          {% if user.can_schedule %}
                right: 'addEventButton'
          {% else %}
                right: ''
          {% endif %}
            }
        });
    },

    events: null,
    onAddEventClick: function(event) {
        window.location = '/events/new';
    },
    onEventClick: function(event) {
        window.location = '/events/' + event.id;
    }
});
new App();
</script>
{% endblock %}
