{% extends "_base.html" %}
{% load staticfiles %}

{% block "extra_head" %}
<link rel="stylesheet" href="{% static 'mdl-selectfield/dist/mdl-selectfield.min.css' %}">
{% endblock %}

{% block "body" %}
<script type="text/template" id="app-template">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">United Derby Officials</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
      <% if (App.user !== null) { %>
        {% if user.can_schedule %}
        <a class="mdl-navigation__link" href="{% url 'leagues' %}">Manage league</a>
        {% endif %}
        <a class="mdl-navigation__link" href="{% url 'profile' %}">Settings</a>
        <a class="mdl-navigation__link" href="{% url 'auth:logout' %}?next=/">Log out</a>
      <% } else { %>
        <a class="mdl-navigation__link" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Log in</a>
      <% } %>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">United Derby Officials</span>
    <nav class="mdl-navigation">
      <% if (App.user != null) {
      {% if user.is_authenticated %}
        {% if user.can_schedule %}
        <a class="mdl-navigation__link" href="{% url 'leagues' %}">Manage league</a>
        {% endif %}
        <a class="mdl-navigation__link" href="{% url 'profile' %}">Settings</a>
        <a class="mdl-navigation__link" href="{% url 'auth:logout' %}?next=/">Log out</a>
      {% else %}
        <a class="mdl-navigation__link" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Log in</a>
      {% endif %}
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div id="calendar"></div>
  </main>
</div>
</script>

<script type="text/template" id="preference-select">
<div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
    <select id="staffing" name="staffing[]" class="mdl-selectfield__select">
        <option value=""></option>
        <option value="0">Head ref</option>
        <option value="1">Inside Pack Ref</option>
        <option value="2">Jam Ref</option>
        <option value="3">Outside Pack Ref</option>

        <option value="5">Head NSO</option>
        <option value="6">Penalty Tracker</option>
        <option value="7">Penalty Wrangler</option>
        <option value="8">Inside Whiteboard</option>
        <option value="9">Jam Timer</option>
        <option value="10">Scorekeeper</option>
        <option value="11">Scoreboard Operator</option>
        <option value="12">Penalty Box Manager</option>
        <option value="13">Penalty Box Timer</option>
        <option value="14">Lineup Tracker</option>
    </select>
    <label for="staffing" class="mdl-selectfield__label">Staffing preference</label>
    <span class="mdl-selectfield__error">This is an error</span>
</div>
</script>

<script type="text/template" id="event-apply">
<h6 class="mdl-dialog__title"><%= event.get('title') %></h6>
<div class="mdl-dialog__content">
    <ul class="mdl-list">
        <li class="mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content">
                <span class="mdl-list__item-sub-title">Hosted by</span>
                <span><%= event.get('league') %></span>
            </span>
        </li>
        <li class="mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content">
                <%= event.get('location') %> @ <%= moment(event.get('start').replace('Z', '')).format('LT') %>
            </span>
        </li>
    </ul>
    <% if (event.get('can_apply')) { %>
    <p>
        Please select the staffing preferences you may have.
    </p>
    <form id="preference-form" action="/_/events/<%= event.get('id') %>">
    </form>
    <% } %>
    <p>
    <% if (event.get('complete') || moment().diff(event.get('start')) > 0){ %>
        Applications for this event have been closed.
    <% } else if (event.get('has_applied')) { %>
        You have already applied to this event. You may still withdraw your
        application.
    <% } %>
    </p>
    <% if (!event.get('is_authenticated')) { %>
    <p>
        <a id="login" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
            <button id="fb-login">Log in to apply</button>
        </a>
    </p>
    <div id="fb-disclaimer">
        Facebook is used only for account management. We won't post anything.
        You just don't need yet another username and password to remember, right?
    </div>
    <% } %>
</div>
<div class="mdl-dialog__actions mdl-dialog__actions--full-width">
    <% if (event.get('can_apply')) { %>
    <button type="button" class="mdl-button" id="event-apply">Apply</button>
    <% } %>
    <% if (event.get('has_applied')) { %>
    <button type="button" class="mdl-button" id="event-withdraw">Withdraw</button>
    <% } %>
    <button type="button" class="mdl-button close" id="event-cancel">Cancel</button>
</div>
</script>
{% endblock %}

{% block "extra_foot" %}
<script src="{% static 'mdl-selectfield/dist/mdl-selectfield.min.js' %}"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>

<script>
$.get('/api/me').done(function(response) {
    if (response !== '') {
        App.user = new App.Models.Official(response);
    }
});
var router = new App.Router();
Backbone.history.start();
</script>
{% endblock %}
