{% extends "base.html" %}
{% load udoco_forms %}
{% load staticfiles %}
{% block "extra_head" %}
<link rel="stylesheet" href="{% static 'mdl-selectfield/dist/mdl-selectfield.min.css' %}">
<script src="{% static 'mdl-selectfield/dist/mdl-selectfield.min.js' %}"></script>
{% endblock %}

{% block "content" %}
<div class="mdl-cell mdl-cell--12-col">
<ul class="mdl-list">
{% for applicant in event.applicants %}
    <li class="mdl-list__item mdl-list__item--three-line">
    <span class="mdl-list__item-primary-content" style="height:unset">
        <span>{{applicant.display_name }}<span>
        <span class="mdl-list__item-text-body" style="height:unset">
        {% for entry in applicant|entries_in:event %}
        {% comment %}
        <button type="button" class="mdl-chip">
            <span class="mdl-chip__text">{{ entry.name }}</span>
        </button>
        {% endcomment %}
        <span class="mdl-chip">
            <span class="mdl-chip__text">{{ entry.name }}</span>
        </span>
        {% endfor %}
        </span>
    </span>
    </li>
{% endfor %}
</ul>
</div>


<div class="mdl-cell mdl-cell--8-col">

<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

    <div class="mdl-tabs__tab-bar">
        {% for roster in event.rosters.all %}
        <a href="#game-{{ forloop.counter }}" class="mdl-tabs__tab{% if forloop.counter == 1 %} is-active{% endif %}">
            Game {{ forloop.counter }}
        </a>
        {% endfor %}
        {% if event.rosters.count != 0 %}
        <a href="#new-roster" class="mdl-tabs__tab">
          {% comment %}
          <i class="mdl-color-text--blue-grey-400 material-icons"
              role="presentation">add_circle_outline </i>
          {% endcomment %}
          Add new roster
        </a>
        {% else %}
        <a href="#new-roster" class="mdl-tabs__tab">
            Adding first roster
        </a>
        {% endif %}
    </div>

    {% for form in forms %}
    {% include 'udoco/_roster_fragment.html' %}
    {% endfor %}

    {% with form=blank_form %}
    {% include 'udoco/_roster_fragment.html' %}
    {% endwith %}
</div>

</div>
{% endblock %}
