{% extends "base.html" %}
{% load udoco_forms %}
{% load staticfiles %}
{% block "extra_head" %}
<link rel="stylesheet" href="{% static 'mdl-selectfield/dist/mdl-selectfield.min.css' %}">
<script src="{% static 'mdl-selectfield/dist/mdl-selectfield.min.js' %}"></script>
{% endblock %}

{% block "content" %}
<div class="mdl-cell mdl-cell--8-col">
<table class="mdl-data-table mdl-js-data-table">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Name</th>
            <th class="mdl-data-table__cell--non-numeric">SO Pref 1</th>
            <th class="mdl-data-table__cell--non-numeric">So Pref 2</th>
            <th class="mdl-data-table__cell--non-numeric">SO Pref 3</th>
            <th class="mdl-data-table__cell--non-numeric">NS Pref 1</th>
            <th class="mdl-data-table__cell--non-numeric">NS Pref 2</th>
            <th class="mdl-data-table__cell--non-numeric">NS Pref 3</th>
        </tr>
    </thead>
{% for application in event.applications.all %}
<tr>
    <td>{{ application.official.display_name }}</td>
    <td>
        {% if application.so_first_choice == 0 %}
        HR
        {% elif application.so_first_choice == 1 %}
        IPR
        {% elif application.so_first_choice == 2 %}
        JR
        {% elif application.so_first_choice == 3 %}
        OPR
        {% elif application.so_first_choice == 101 %}
        ANY
        {% endif %}
    </td>
    <td>
        {% if application.so_second_choice == 0 %}
        HR
        {% elif application.so_second_choice == 1 %}
        IPR
        {% elif application.so_second_choice == 2 %}
        JR
        {% elif application.so_second_choice == 3 %}
        OPR
        {% elif application.so_second_choice == 101 %}
        ANY
        {% endif %}
    </td>
    <td>
        {% if application.so_third_choice == 0 %}
        HR
        {% elif application.so_third_choice == 1 %}
        IPR
        {% elif application.so_third_choice == 2 %}
        JR
        {% elif application.so_third_choice == 3 %}
        OPR
        {% elif application.so_third_choice == 101 %}
        ANY
        {% endif %}
    </td>

    <td>
        {% if application.nso_first_choice == 0 %}
        JT
        {% elif application.nso_first_choice == 1 %}
        SK
        {% elif application.nso_first_choice == 2 %}
        PBM
        {% elif application.nso_first_choice == 3 %}
        PBT
        {% elif application.nso_first_choice == 4 %}
        PT
        {% elif application.nso_first_choice == 5 %}
        PW
        {% elif application.nso_first_choice == 6 %}
        IW
        {% elif application.nso_first_choice == 7 %}
        LT
        {% elif application.nso_first_choice == 101 %}
        ANY
        {% endif %}
    </td>
    <td>
        {% if application.nso_second_choice == 0 %}
        JT
        {% elif application.nso_second_choice == 1 %}
        SK
        {% elif application.nso_second_choice == 2 %}
        PBM
        {% elif application.nso_second_choice == 3 %}
        PBT
        {% elif application.nso_second_choice == 4 %}
        PT
        {% elif application.nso_second_choice == 5 %}
        PW
        {% elif application.nso_second_choice == 6 %}
        IW
        {% elif application.nso_second_choice == 7 %}
        LT
        {% elif application.nso_second_choice == 101 %}
        ANY
        {% endif %}
    </td>
    <td>
        {% if application.nso_third_choice == 0 %}
        JT
        {% elif application.nso_third_choice == 1 %}
        SK
        {% elif application.nso_third_choice == 2 %}
        PBM
        {% elif application.nso_third_choice == 3 %}
        PBT
        {% elif application.nso_third_choice == 4 %}
        PT
        {% elif application.nso_third_choice == 5 %}
        PW
        {% elif application.nso_third_choice == 6 %}
        IW
        {% elif application.nso_third_choice == 7 %}
        LT
        {% elif application.nso_third_choice == 101 %}
        ANY
        {% endif %}
    </td>
</tr>
{% endfor %}
    <tfoot>
    </tfoot>
</table>
</div>

<div class="mdl-cell mdl-cell--8-col">

<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

    <div class="mdl-tabs__tab-bar">
        {% for roster in event.rosters.all %}
        <a href="#game-{{ forloop.counter }}" class="mdl-tabs__tab{% if forloop.counter == 1 %} is-active{% endif %}">
            Game {{ forloop.counter }}
        </a>
        {% endfor %}
        {% if event.rosters.count != 0 %}
        <a href="#new-roster" class="mdl-tabs__tab">
          {% comment %}
          <i class="mdl-color-text--blue-grey-400 material-icons"
              role="presentation">add_circle_outline </i>
          {% endcomment %}
          Add new roster
        </a>
        {% else %}
        <a href="#new-roster" class="mdl-tabs__tab">
            Adding first roster
        </a>
        {% endif %}
    </div>

    {% for form in forms %}
    {% include 'udoco/_roster_fragment.html' %}
    {% endfor %}

    {% with form=blank_form %}
    {% include 'udoco/_roster_fragment.html' %}
    {% endwith %}
</div>

</div>
{% endblock %}
