uwsgi==2.0.13

Django==1.10.8
python-social-auth==0.2.19
smartchoices==1.1
django-airbrake==1.2.0
django-storages==1.4.1
boto==2.40.0
dj-database-url==0.4.1
psycopg2==2.6.1  # LDFLAGS="-L/usr/local/opt/openssl/lib"
Pillow==3.3.1
django-anymail==0.5
djangorestframework==3.4.7
django-cors-headers==1.2.1
django-rest-framework-social-oauth2==1.0.4
drf-nested-routers==0.11.1
