html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.fc-left {
    padding-left: 10px;
    padding-top: 10px;
}
.fc-right {
    padding-right: 10px;
    padding-top: 10px;
}
.fc-center {
    padding-top: 10px;
}
#calendar {
    padding: 15px;
}
#fb-disclaimer {
    font-size: 10px;
}
a#login {
    text-decoration: none;
}
button#fb-login {
    padding-right: 45px;
    height: 35px;
    background: none;
    border: none;
    display: block;
    background-size: 35px 35px;
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 4px;
    color: white;
    font-family:"Merriweather Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    width: 205px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 2px -2px gray;
    text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;

    border-color: #2d5073;
    background-color: #3b5998;
    background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}
.mdl-dialog__title {
    font-size: 1.5rem;
}

/* Old skool */
.avatar:not([data-badge]) {
    margin-right: 24px;
}
.avatar[data-badge] {
    margin-right: 24px;
}
div.events {
}
div.events ul {
    list-style-type: none;
    padding-left: 10px;
}

li.event {
    display: block;
    margin-bottom: 30px;
}
li.event h6 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0;
}
li.event h6 a {
    text-decoration: none;
}
li.event span {
    font-size: 90%;
    font-weight: bold;
}
li.event .host {
    margin-top: 0px;
    line-height; 100%;
    font-style: oblique;
}

span.udoco-form-errors {
    font-weight: bold;
    color: #d50000;
    font-size: 80%;
}


#calendar h2 {
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 30px;
}
.fc button {
  background: #fff;
}
.fc td,
.fc th {
  border-width: 0px !important;
}
.fc-state-active,
.fc-state-down {
  color: #ff4081 !important;
}
.fc-event, .fc-event-dot {
    background-color: #3e50b4;
    padding: 3px;
}
.fc-day-number {
    font-size: .7rem;
}
/* Materialize - see http://demo.geekslabs.com/materialize/v2.1/layout03/app-calendar.html */
/*================================================================================
  Item Name: Materialize - Material Design Admin Template
  Version: 2.1
  Author: GeeksLabs
  Author URL: http://www.themeforest.net/user/geekslabs
================================================================================*/
/*----------------------------------------
    Calender
------------------------------------------*/

/*
*/
