{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>United Derby Officials Colorado</title>
    <meta charset="utf-8" />
    <meta name="description" content="You do Colorado">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {# Add to homescreen for Chrome on Android #}
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    {# Add to homescreen for Safari on iOS #}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="UDO CO">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    {# Tile icon for Win8 (144x144 + tile color) #}
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'material-design-lite/material.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/udoco.css' %}">

    <script src="{% static 'material-design-lite/material.min.js' %}"></script>
    <script src="{% static 'js/vendor.js' %}"></script>
    <script src="{% static 'js/udoco.js' %}"></script>

    {% block "extra_head" %}{% endblock %}
  </head>
  <body>



    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">{% block "title" %}United Derby Officials Colorado{% endblock %}</span>
        </div>
      </header>

      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        {% if user.is_authenticated %}
        <header class="demo-drawer-header">
          {% if user.avatar %}
          <img class="demo-avatar" style="background-image: url({{ user.avatar.url }})">
          {% else %}
          <img class="demo-avatar">
          {% endif %}
          <span>{{ user.display_name }}</span>
        </header>
        {% endif %}
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          {% if not user.is_authenticated %}
          {% endif %}
          {% if user.is_authenticated %}
          {% if user.can_schedule %}
          <a class="mdl-navigation__link" href="{% url 'add_event' %}">
              <i class="mdl-color-text--blue-grey-400 material-icons"
                  role="presentation">note_add</i>
              Schedule new game
          </a>
          {% endif %}
          <a class="mdl-navigation__link" href="{% url 'events' %}">
              <i class="mdl-color-text--blue-grey-400 material-icons"
                  role="presentation">today</i>
              Upcoming games
          </a>
          {% comment %}
          TODO: These two links would be super helpful.
          <a class="mdl-navigation__link" href="">
              <i class="mdl-color-text--blue-grey-400 material-icons"
                  role="presentation">inbox</i>
              Applications
          </a>
          <a class="mdl-navigation__link" href="">
              <i class="mdl-color-text--blue-grey-400 material-icons"
                  role="presentation">book</i>
              My schedule
          </a>
          {% endcomment %}
          <a class="mdl-navigation__link" href="{% url 'profile' %}">
              <i class="mdl-color-text--blue-grey-400 material-icons"
                  role="presentation">perm_identity</i>
              Account
          </a>
          <a class="mdl-navigation__link" href="{% url 'auth:logout' %}?next=/">
              <i class="mdl-color-text--blue-grey-400 material-icons"
                  role="presentation">power_settings_new</i>
              Log out
          </a>
          {% if user.is_staff %}
          <a class="mdl-navigation__link" href="{% url 'admin:index' %}">
              <i class="mdl-color-text--blue-grey-400 material-icons"
                  role="presentation">build</i>
              Manage site
          </a>
          {% endif %}
          {% endif %}
        </nav>
      </div>



      <main class="mdl-layout__content mdl-color--grey-100">

      {% if messages %}
    <div class="mdl-grid">
          <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    </div>
    {% endif %}



        <div class="mdl-grid demo-content">
          <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
            {% block "content" %}{% endblock %}
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
