ul.collapsible {
  box-shadow: none;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-fixed {
  z-index: 9999;
}
.center{
  text-align: center;
}
.bold{
  font-weight: bolder;
}
.eventHeader{
  overflow: hidden;
  white-space: nowrap;
}
.arrowHolder{
  margin: 0;
  text-align: right;
}
.marginLess{
  margin-bottom: 0;
}
.noRightLeft{
  margin-left: 1em !important;
  margin-right: 0 !important;
}
.moveRightALittle{
  position: relative;
  left: 1em;
}

.game-league-presents {
  margin-bottom: 0;
}
.game-leage-event-name{
  margin-top: 0;
}

.picker__date-display{
  background-color: #424242;
}
.picker__weekday-display{
  background-color: #212121;
}
.picker__day.picker__day--today {
  color: black;
  font-weight: 700;
}
.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted{
  background-color: #212121;
}
.picker__today,.picker__close{
  color: black;
}

div.tab-content {
    padding-top: 50px;
}

span.notes {
    font-size: 80%;
}

img.non-mobile-profile {
    margin: 12px 8px 0px 0px;
    max-height: 32px;
    float: left;
}

img.mobile-profile {
    margin: 6px 28px 0px 30px;
    max-height: 32px;
    float: left;
}

div.rostered {
    background-color: #fff9c4;
}

div.scheduled {
    background-color: #c8e6c9;
}
